## Question 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('pandas version', pd.__version__)

pandas version 2.0.3

In [3]:
data = pd.read_csv('housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 2
How many columns are in the dataset?

    10
    6560
    10989
    20640

In [4]:
len(data.columns)

10

## Question 3

Which columns in the dataset have missing values?

    total_rooms
    total_bedrooms
    both of the above
    no empty columns in the dataset

In [5]:
data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

answer: total_bedrooms

## Question 4

How many unique values does the ocean_proximity column have?

    3
    5
    7
    9

In [6]:
data['ocean_proximity'].nunique()

5

answer: 5

## Question 5

What's the average value of the median_house_value for the houses located near the bay?

    49433
    124805
    259212
    380440

In [7]:
data[data['ocean_proximity'] == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

asnwer: 259212

## Question 6

    Calculate the average of total_bedrooms column in the dataset.
    Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
    Now, calculate the average of total_bedrooms again.
    Has it changed?

Has it changed?

    Hint: take into account only 3 digits after the decimal point.

    Yes
    No

In [8]:
total_bedrooms_mean = data['total_bedrooms'].mean()
print('before:', total_bedrooms_mean)

data['total_bedrooms'] = data['total_bedrooms'].fillna(total_bedrooms_mean)
print('after:', data['total_bedrooms'].mean())

before: 537.8705525375618
after: 537.8705525375617

answer: No

## Question 7

    Select all the options located on islands.
    Select only columns housing_median_age, total_rooms, total_bedrooms.
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Compute the inverse of XTX.
    Create an array y with values [950, 1300, 800, 1000, 1300].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the value of the last element of w?

    Note: You just implemented linear regression. We'll talk about it in the next lesson.

    -1.4812
    0.001
    5.6992
    23.1233

In [9]:
df = data[data['ocean_proximity'] == 'ISLAND']
cols =  ['housing_median_age', 'total_rooms', 'total_bedrooms']

df = df[cols]

In [10]:
X = np.array(df)

XTX = np.dot(X.T, X)
XTX_inverse = np.linalg.inv(XTX)
y = [950, 1300, 800, 1000, 1300]

w = np.dot(XTX_inverse, X.T).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])

answer: 5.6992